
@media only screen and (max-width: 1023px){    
    .wrapper-page{
        margin-bottom: 0px;
    }
    .wrap-intro-home{
    	margin-top: 10px;
    }
    .block-3 {
    margin-top: 0px;
    }
    .des-intro-home{
    	margin-top: 15px;
    }
    .wrap-product-home{
    	margin-top: 20px;
    }
    #foo4 li{
        width: 100% !important;
    }
    #menu-desktop{
    	display: none;
    }
    .right-sider{
    	
    }
    .left-top-header{
    	height: auto;
    	padding-bottom: 10px;
    }
    .menu {
    	background: none;
    	position: static;
    	
    }
    .icon-phone {
    
	    margin-right: 5px;
	    border-right: none;
	    padding-right: 6px;
	    color: #111;
	   
	}
	.message{
		color: #111;
	}
	.h3-text{
		font-size: 40px;
	}
	.text-abs .title{
		font-size: 14px;
		left: 20%;
		top: 15%
	}
	.text-abs .title:before{
		height: auto;	
	}
	.mobile-menu{
  		display: block;
	}
	.icon_menu {
	    display: block;
	    color: red;
	   padding: 10px;
	    background: #111;
	}
	.icon_menu a {
	    display: block;
	    width: 30px;
	    height: 30px;
	    outline: none;
	    margin-left: 20px;
	   
	   /* position: absolute;
	    right: 20px;
	    top: 20px;*/

	    background: url(../images/icon_menu.png) no-repeat;
	    transition: all 0.4s ease-in-out;
	    -moz-transition: all 0.4s ease-in-out;
	    -webkit-transition: all 0.4s ease-in-out;
	    z-index: 99999;
	}
	.wrap-menu{
		height: auto;
		margin-left: 0px;
	}
	.top-header{
		background: none;
	}
	.menu-mobile{
		display: none;
	}
	.icon_menu a.active {
    	background: url(../images/icon_menu_close.png) no-repeat;
	}
	
	.wrap-menu-mobile{
  		display: block;
	}
	#menu-mobile-main{
		margin: 0px;
		padding: 0px;
	}
	#menu-mobile-main  li{
		list-style: none;

	}
	
	#menu-mobile-main li a{
		color: #111;
		display: block;
		border-bottom: 1px solid #e1e1e1;
		font-weight: 900;
	}
	#menu-mobile-main > li > a{
		padding: 10px 25px;
	}
	#menu-mobile-main .sub-menu{
		margin: 0px;
		padding: 0px;
	}
	#menu-mobile-main > li > .sub-menu > li a{
		padding: 10px 45px;
	}

	#menu-mobile-main .sub-menu li .sub-menu li a{
		padding: 10px 70px;
		font-weight: normal !important;
	}
	/*.logo {
    	text-align: -webkit-auto;	
	}*/
	.slider{
		padding-top: 30px;
	}
	.search_form_mobile{
  		display: block;
	}
	.bg-black{
    	/*background: #000;*/
    }
    #banner{
    	background: none;
    	background-image: none !important;
    
    }
    .txt-input{
    	border: 1px solid #e1e1e1;
    	width: 100%;
    }
    .wrap-breadcrumbs{
    	padding: 0px;
    	margin-top: 30px;
    	
    }
    .h1-page{
    	color: #111;
    	font-size: 30px;
    }
    .breadcrumbs{
    	color:#111 ;
    }
    .txt-input{
    	margin-top: 0px;
    	position: relative;
    	margin-bottom: 10px;
    }
    #btn-search{
    	top:8px;

    }
    .left-content-page{
    	margin-bottom: 20px;
    }
    .search-box{
    	margin-top: 7px;
    }
	.top-header-banner{
		margin: 0px -15px;
	}
	.wrapper-page{
		margin-top: 30px;
	}
	.left-content-page-services {
		margin-bottom: 30px;
	}
	.title-brands{
		line-height: 130%;
	}
	.wpcf7-email{
		margin-top: 13px;
	}
	.h2-contact{
		font-size: 30px;
	}
	.breadcrumbs  span{
		padding: 0px;
	}
	.border-content{
		padding-left: 0px;
		border: 0px;
	}
	.block-3 .bg-img{
		height: auto;
		
	}
	.left-detail-in{
		margin-top: 20px;
	}
	.block-3{
		background: none;
	}
	.bg-img-reposive img{
		width: 100%;
		height: auto;
	}
	.right-block-3{
		background: #bb141a;
		padding:20px;
	}
	.title-block-3{
		font-size: 25px;
	}
	.link-block-3 a{
		padding: 4%;
	}
	.title-intro-home{
		font-size: 25px;
	}
	.notification-box{
		padding: 27px 15px 13px;
	}
	.notification-box p{
		font-size: 10px;
	}
	.text-intro-brands{
		margin-top: 30px;
	}
	.wrap-title-slide-mobile{
		padding: 20px;

	}
	.phone-box > p{
		color: #fff;
	}
	.left-content-page-services {
		margin-top: 50px;
	}
	#map-contact{
		margin-top: 20px;
	}

	#related-product-brands{
		margin-bottom: 30px;
	}

}
@media screen and (max-width: 800px) {
    .wpml-ls-legacy-list-horizontal>ul{
    	text-align: center;
    }
    .left-top-header{
    	margin-left: 6%;
    }
   
    .block-2 {
    	margin-bottom: 30px;
    }
    .slides li .slider-title{
    	display: none;
    	left: 27%;
    }
    .text-abs .title:before{
    	height: 80%;
    }
    .text-abs .title, h1.title, .f38-back {
    	font-size: 25px;
    }
    #menu-main{

    }
    .notification-box{
		padding: 27px 27px 13px;
	}
	.notification-box p{
		font-size: 16px;
	}
	#wrap-brand-left{
		height: 450px;
	}


}
@media screen and (max-width: 568px){
	
	.wrap-left-content{
		margin-top: 30px;
	}
	.i-line-footer{
		text-align: left;
	}
	#menu-main-footer,.ul-footer-product,.contact-info{
		text-align: left;
	}
	ul.tabs li{
		padding: 10px 20px;
	}
	.left-detai-product,.left-brands{
		margin-bottom: 30px;
	}
	.title-page-only,.sort-by{
		float: none;
	}
	.sort-by{
		margin-bottom: 20px;
	}
	.flex-direction-nav{
		display: none;
	}
	#wrap-brand-left{
		height: 360px;
	}
	.i-line {
	   width: 30px;
	}
}

@media screen and (max-width: 470px){
	/* .product-home .item-carousel{
		margin-right: 0px !important;
	} */
	#wrap-brand-left{
		height: 210px;
	}
}