/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Common Format
 * 3.0 - Header
 * 4.0 - Pages...
 * 5.0 - Footer
 * ----------------------------------------------------------------------------
 */
/**
 * 1.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * ----------------------------------------------------------------------------
 */

* {outline:none;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	  text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
	 -moz-webkit-font-smoothing: antialiased !important;
}
html,
button,
input,
select,
textarea {
       font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    transition:all 0.3s ease 0s;
    outline: none;
}
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}
address {
    font-style: italic;
    margin: 0 0 24px;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
p {
    margin: 0 0 18px;  
}
code,
kbd,
pre,
samp {
       font-family: 'Lato', sans-serif;
    font-size: 14px;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
}
pre {
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
blockquote {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 24px 40px;
}
blockquote blockquote {
    margin-right: 0;
}
blockquote cite,
blockquote small {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}
blockquote em,
blockquote i {
    font-style: normal;
    font-weight: 300;
}
blockquote strong,
blockquote b {
    font-weight: 400;
}
small {
    font-size: smaller;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
dl {
    margin: 0 20px;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 0 20px;
}
menu,
ol,
ul {
    margin: 16px 0;
    padding: 0 0 0 40px;
}
ul {
    list-style-type: square;
}
ul.menu-main,
ol.menu-main {
    list-style: none;
    list-style-image: none;
}
li > ul,
li > ol {
    margin: 0;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}
button,
input {
    line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    padding-right: 2px; /* Don't cut off the webkit search cancel button */
    width: 270px;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    /* border-collapse: collapse;
    border-spacing: 0; */
    font-size: 14px;
    
    width: 100%;
}
caption,
th,
td {
    /* font-weight: normal;
    text-align: left; */
}
caption {
    font-size: 16px;
    margin: 20px 0;
}
th {
    /* font-weight: bold;
    text-transform: uppercase; */
}
td {
/*  padding: 6px 10px 6px 0; */
}
del {
    color: #333;
}
ins {
    background: #fff9c0;
    text-decoration: none;
}
hr {
    
    background:#e1e1e1;
    border: 0;
    height: 1px;
    margin: 0 0 18px;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/**
 * 2.0 COMMON FORMAT
 */
/*_Media*/
    .media {margin:10px}.media,.bd {overflow:hidden;_overflow:visible;zoom:1}
    .media .img {float:left;margin-right:10px}
    .media .img img{dis play:block}
    .media .imgr {float:right;margin-left:10px}
/*_Float*/
    .listh {overflow:hidden}
    .right,.colr {float:right}
    .left,.col,.col1,.col2,.col3,.col4,.listh li {float:left}
/*_Inner*/
    .noborder{border:0 !important}
    input[type='submit'],input[type='button']{cursor:pointer}
    strong{font-weight:bold !important}
    .italic{font-style:italic !important}
    .uppercase{text-transform:uppercase}
    .text-center{text-align:center}
    .rounded{position:relative; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}
/**
 * 3.0 Repeatable Patterns
 */
/**
 * 4.0 Basic Structure
 */
body {
	line-height: 1.4em;
	font-size: 16px;
	font-family: 'Lato', sans-serif;	
}
.clear {clear: both;}
.relative {position:relative;}
.absolute {position:absolute;}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.625em;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.625em;
}
.aligncenter {
    display: block;    
    margin-left: auto;
    margin-right: auto;
}
.thumb img{
    width: 100% !important;
    height: auto !important;
}
.wrapper{
    overflow: hidden;
    font-family: 'Lato', sans-serif;

}
header{
   
}
.wrap-in-top-header{
     position: relative;
}
.top-header{
    background: #000000;
    padding-top: 3px
}
.icon-phone{
    background: url('../../assets/images/phone.png') 3px 1px  no-repeat ;
   
    display: inline-block;
    padding-left: 25px;
    border-right: 1px solid #464646;
    margin-right:19px;
    padding-right: 19px;
    font-style: 13px;
    font-family: 'Lato', sans-serif;    
    font-weight: normal;
}
.message{
    background: url('../../assets/images/message.png') 0px 3px no-repeat ;
    padding-left: 25px;
    display: inline-block;
     font-family: 'Lato', sans-serif;
    font-weight: normal;
     font-size: 13px;
}
.logo{
  text-align: center;
  padding-top: 10px;
}
.logo a{
    display: block;
}
.left-top-header{
    color: #b7b7b7;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    height: 80px;
    padding-top: 10px;
    font-size: 13px;
}
/*.right-top-header{
    float:right;
}*/
body .wpml-ls-statics-shortcode_actions{
  background: none;
  border: none;
  padding: 0;
}
body .wpml-ls-legacy-list-horizontal a{
  padding:0 0 0 14px;
}
#lang_sel_list ul a {
    background: none !important;
}
#lang_sel_list  ul{
  border-top: none !important;
  padding-top: 8px !important ;
}
#lang_sel_list a {
    font-size: 13px;
    text-transform: uppercase;
     font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #464646;
}
#lang_sel_list a.lang_sel_sel{
    color: #bb141a !important;
}

#lang_sel_list ul a.lang_sel_other:hover {
      color: #bb141a !important;
}
.menu{
    height: 78px;
    position: absolute;
   top:40px;
   width: 100%;
   background: url(../images/bg-menu.jpg) #bb141a top left no-repeat;
}
   

#menu-main{
    margin: 0px ;
    padding: 0;
 /*   padding: 25px 0px 0px 25px;*/
    float: left;
  /*  height: 78px;*/
}
#menu-main li{
  list-style: none;
  display: inline-block;
/*  background: url('../../assets/images/border-li.jpg') top right  no-repeat ;*/
}
#menu-main > li > a > span{
  border-right: 1px solid #9e060b;
  padding: 6px 15px;
}
#menu-main > li:first-child > a > span{
  padding-left: 0px;
}
#menu-main > li:last-child > a > span{
  padding-right: 0px;
  border: none;
}
#menu-main li ul li{
  display: block;
}
#menu-main li:last-child{
    background: none;
}
#menu-main li a{
    float: left;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 25px;
  /*  margin: 0px 20px 0px 20px;*/
     position: relative;
     letter-spacing: 1px;
}
#menu-main li i{
  font-style: normal;
}
#menu-main > li > a{
  padding:27px 0px 26px;
}
#menu-main > li.menu-item-has-children > a > span > i{
  background: url(../images/icon-arrow-down-white.png) center right no-repeat;
  padding-right: 14px;
}

#menu-main > li.current-menu-item  > a > span:after, #menu-main > li:hover > a > span:after,#menu-main > li.current-menu-parent  > a > span:after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 5px; 
  background: #fff;
  left: 15px;
  right:15px;
  z-index: 10;
}
#menu-main > li.current-menu-item:first-child  > a > span:after, #menu-main > li:first-child:hover > a > span:after {
  left: 0px;
}
#menu-main > li.current-menu-item:last-child  > a > span:after, #menu-main > li:last-child:hover > a > span:after {
  right: 0px;
}
body.body-vi #menu-main > li.current-menu-item:first-child  > a > span:after,body.body-vi #menu-main > li:first-child:hover > a > span:after
{
  left: 15px;
}
body.body-vi #menu-main > li.current-menu-item:last-child  > a > span:after,body.body-vi #menu-main > li:last-child:hover > a > span:after {
  right: 15px;
}
/*#menu-main li:first-child a {
    padding-left: 0px !important;
}*/
.wrap-menu{
   
   /* background: url('../../assets/images/bg-menu.png') top left  no-repeat ;*/
    
    height:  78px;
    margin-left: -15px;
}

#search_form{
    float: right;
    margin-right: 30px;
    margin-top: 2px;
}
.slider{
    padding-top: 68px;
    background: #f6f6f6;
    

}
.txt-input{
    width: 250px;
    height: 30px;
    border-left: 4px solid #ed1c24  !important;
    border: none;
    padding-left: 5px;
    margin-top: 23px;
}
#btn-search{
    background: url('../../assets/images/bt-search.jpg') top left  no-repeat ;
    height: 14px;
    border: none;
    position: absolute;
    top: 30px;
    right: 14px;
    width: 14px;
}
.search-box{
    position: relative;

}
.text-abs a{
  position: relative;
  display: block;
}
.text-abs a .overlay{
  position: absolute;
  background: rgba(17,17,17,0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.text-abs a:hover .overlay{
  background: rgba(187,20,26,0.6);
}
.text-abs .title{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color:  #f6f6f6;
  text-transform:  uppercase; 
  font-size:  24px;
 
  position: absolute;
  /*top: 34%;
  left: 20%;*/  
  top: 0;
  bottom: 0;
  left: 50px;
  right: 50px;
  z-index: 10;
  letter-spacing: 1px;
}
.text-abs .title span{  
  display: inline-block;
  vertical-align: middle;
   border-left: 2px solid #ffffff;
  padding-left:  22px;
  line-height: 30px;
}
.text-abs .title:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.text-abs img, .relative-slider img{
   width:  100%;
   height:  auto; 
}
.block-2{
   margin-top:30px;
}
.relative-slider{
  position:  relative;  
  color: #fff;
}

.slider-title{
  position:  absolute; 
  padding: 25px 0px 35px 105px;
  top: 60px;
}


.flexslider-home .flex-direction-nav .flex-prev {
    background: url('../../assets/images/left-arrow.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-indent: -9999px;
   
}
.flexslider-home .flex-direction-nav .flex-next{
    background: url('../../assets/images/right-arrow.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-indent: -9999px;
   
}
.flexslider-home .flex-control-paging li a{
   text-indent:-9999px !important;
}
.btn-text{
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff;
  background: #ed1c24;
  padding:20px 66px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-text:hover{
  background: #bb141a;
  color: #fff;
}
.slider-title p{
   margin: 0px !important;
   padding: 0px !important;
}
.wrap-intro-home{
   margin-top: 30px;
}
.i-line{
   border-bottom: 2px solid #000;
   width: 86px;
   display: inline-block;
   margin-right: 12px;
}
.span-intro{
   font-size: 20px;
   font-family: 'Lato', sans-serif;
   color: #111;
   font-weight: 900;
   letter-spacing: 1px;
}
.title-intro-home{
   font-size: 38px;
   font-family: 'Lato', sans-serif;
   color: #111;
   margin-top: 20px;
   text-transform: uppercase;
   font-weight: 900;
   line-height: 130%;
   letter-spacing: 1px;

}
.des-intro-home{
  font-size: 16px;
   font-family: 'Lato', sans-serif;
   color: #111;
   margin-top: 47px;
   font-weight: bold;
}
.description-intro-home a{
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   font-weight: bold;
   color: #bb141a;
}


#carousel .slides > li{
   display: block;
}
.title-slide {
   height: 65px;
   overflow: hidden;
}
.title-slide a{
   font-size: 24px;
   font-family: 'Lato', sans-serif;
   color: #111;
   text-transform: uppercase;
   font-weight: 900;
   line-height: 130%;
}
.product-home{
   margin-top: 40px;
   overflow: hidden;
   width: 100%;
}
.product-home .item-carousel{
/*  width: 350px;*/
/*  float: left;
  margin-right: 30px;*/
}
.product-home .item-carousel img{
  width: 100%;
  height: auto;
}
.item-product a{
  display: block;
  position: relative;
}
/* .item-product a:hover{
  color: #bb141a;
} */
.item-product > a:after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  left: 40px;
  bottom: 0px;  
}

.excerpt-slide::before{
   content:" ";
   width: 100%;
   background: #111;
   height: 2px;
   display: inline-block;
   margin-top: 5px;
   margin-bottom: 10px;
}
.item-product:hover .excerpt-slide::before{
  background: #fff;
}
.excerpt-slide{
   color: #464646;
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   font-size: 16px;
   overflow: hidden;	
}

/*.block-3 img{
   width: 100%;
   height: auto;
}*/

.left-block-3 img {
    width: 100%;
}
.right-block-3{
  padding: 85px 97px 90px 86px;
}
.right-block-3 .i-line{
   border-bottom: 2px solid  #ffc2b5 !important;
   position: relative;
   top: 8px;
}
.right-block-3 .span-intro{
   color: #ffc2b5 !important;
   font-size: 20px;
   font-family: 'Lato', sans-serif;
   font-weight: 900;
   position: relative;
   top: 9px;

}
.title-block-3{
   font-size: 38px;
   font-family: 'Lato', sans-serif;
   font-weight: 900;
   color: #ffffff;
   text-transform: uppercase;
   margin-top: 22px;
   line-height: 130%;
   letter-spacing: 1px;
}
.description-block-3{
   font-size: 16px;
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   color: #ffc2b5;
}
.link-block-3 {
   margin-top: 40px;
}
.link-block-3 a{
   font-size: 13px;
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   background: #790101;
   padding: 25px 55px;
   text-transform: uppercase;
   color: #fff;
   display: inline-block;
   cursor:pointer;
}
.pd15{
  padding-left: 15px;
}
.link-block-3 a:hover{
  background: #fff;
  color: #790101;
}
footer{
   background: #252525;
   padding:40px 0px;
   margin-top: -1px;
}
.text-footer{
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   font-weight: normal;
   color: #b7b7b7;
   margin-top: 10px;
}
.ul-link{
   margin: 0px;
   padding: 0px;
}
.ul-link li{
   list-style: none;
   float: left;
   margin-right: 10px;
}
.ul-link li a{
   display: inline-block;
}
li.face a{
   background: url('../../assets/images/face.png') top left no-repeat;
   height: 29px;
   width: 29px;
}
li.twitter a{
   background: url('../../assets/images/twitter.png') top left no-repeat;
   height: 29px;
   width: 29px;
}

li.googleplus a{
   background: url('../../assets/images/googleplus.png') top left no-repeat;
   height: 29px;
   width: 29px;

}
#menu-main-footer{
   margin: 0px;
   padding:0px;
   text-align: right;

}
#menu-main-footer li{
   list-style: none;
}
/* #menu-main-footer li.current-menu-parent a{
	color: #ed1c24;
} */
 #menu-main-footer li.current-menu-ancestor  a{
  color: #ed1c24;
} 
#menu-main-footer li a{
   color: #959595;
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   font-weight: normal;
   text-transform: uppercase;
   padding: 0px 0px 10px 0px;
   display: inline-block;

}
.i-line-footer  .span-intro {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #c2c2c2;
    font-weight: 900;
    letter-spacing: 1px;

}
.i-line-footer .i-line{
    border-bottom: 2px solid #c2c2c2;
    
    
}
.menu-footer{
   margin-top: 10px;
}
.i-line-footer{
   margin-bottom: 10px;
   text-align: right;
}

#menu-main-footer li.current-menu-item a,#menu-main-footer li.current-menu-item a:hover{
   color: #bb141a;
}
.contact-info{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #959595;
    text-align: right;
    font-weight:  normal;
}
.contact-info a{
     color: #959595; 
}
.products-footer ,.contact-footer{
   margin-top: 10px;
}
.copy-right{
   background: #111111;
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   color: #636363;
   text-align: center;
   padding:14px 0px;

}
.copy-right i{
   color: #9e060b;
   font-size: 16px;
   font-family: 'Lato', sans-serif;
   font-weight: bold;
}

/*-------------------------------------------Banner-------------------------------------------------*/
#banner{
   position: relative;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.top-header-banner{

}
#banner .top-header{
   background: none;
}

#banner .menu{
  top: 0;
   position: relative; 
   margin-top: 10px;
}
#banner .left-top-header{
   height: auto;
  }
.wrap-breadcrumbs{
  padding: 70px 0;
}
.h1-page{
   color: #fff;
   font-size: 53px;
   font-family: 'Lato', sans-serif;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 900;
}
.breadcrumbs{
   color: #fff;
   font-size: 13px;
   font-family: 'Lato', sans-serif;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 2px;
}
.breadcrumbs  span{
   padding:0px 10px;
}
.breadcrumbs a span{
   color: #898989;
}

#page {
    max-width: 500px;
    padding: 1em;
}
h1.title{
   color: #111;
   font-size: 38px;
   font-family: 'Lato', sans-serif;
   text-transform: uppercase;
   margin-bottom: 40px;
   font-weight: 900;
}
.wrapper-page{
   margin-top: 50px;
   margin-bottom: 60px;
}
.wrapper-page img{
   width: 100%;
   height: auto;
}
.right-content-page{  
   font-size: 16px;
   font-family: 'Lato', sans-serif;
   font-weight: bold;
}
#content-margin-top{
  margin-top: 35px;
}
.wpcf7 input, .wpcf7 textarea{
   font-family: 'Lato', sans-serif;
   font-weight: normal;
   border: 1px solid #cccccc;
   font-size: 16px;
   color: #616161;
   padding:10px 0px 8px 25px;
   width: 100%;
}
.wpcf7-form > div {
    margin-bottom: 10px;
}
.wpcf7 .row-form{
  margin-bottom: 15px;
}
.wpcf7 textarea{
   height: 160px;
   margin-top: 10px;
}
.h2-contact{
   font-size: 60px;
    font-family: 'Lato', sans-serif;
   font-weight: 900;
   color: #111111;
   text-transform: uppercase;
   margin: 25px 0;
}
span.wpcf7-not-valid-tip{
  padding-top: 10px;
}
.wpcf7-submit{
   text-align: center;
   background:#ed1c24;
   width: 156px !important;
   color: #fff !important;
   font-size: 13px !important;
   padding: 10px !important;   
   border: none !important;
   float: right;
   text-transform: uppercase;
   font-weight: 900 !important;
   letter-spacing: 1px;
}
.social [class*="fa fa-"] {
    background-color: #333;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}
.social{
   margin: 0px;
   padding:0px;   
   padding-top: 20px;
   border-top: 1px solid #111;
}
.social li{
   list-style: none;
   float: left;

}
.right-content-page-contact, .left-content-page-contact{
   margin-top: 30px !important;
}


 .product-home .slide img{
   width: 100%;
 }
 .item-product:hover .wrap-title-slide, .item-product:hover .wrap-detail-categories{
 	background: #ed1c24;
 	color: #fff;
 }

 .item-product:hover .wrap-title-slide .title-slide a, 
 .item-product:hover .wrap-title-slide .excerpt-slide, .item-product:hover .wrap-detail-categories h3 a {
 	color: #fff;
 }
/*   .item-carousel .wrap-title-slide:hover .excerpt-slide::before {
 	background: #fff;
 }
 */
.item-product:hover > a:after {
  	border-color: transparent transparent #ed1c24; 
  }
 .wrap-title-slide{
   padding: 24px 34px 20px 34px ; 
    background: #f6f6f6;
   
    height: 202px;
}

 .block-3{
   
   position: relative;
   background: #bb141a;
 }
 .wrap-feature-products{
  margin-bottom: 50px;

 }
.block-3 .bg-img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} 
 .title-category-list{
   font-size: 20px;
   font-family: 'Lato', sans-serif;
   font-weight: 900;
   color: #111;
   border-bottom: 2px solid #111;
   padding-bottom: 10px;
   margin:0px;
 }
.ul-category-list{
   margin: 10px 0px 0px;
   padding: 0px;
  }
 .ul-category-list li.li-parent{
   list-style: none;
   border-bottom: 1px solid #e1e1e1;
   padding: 10px 0px;
 }
 .sub-categories{
    margin: 0px;
    padding: 10px 0px 0px 0px;
    display: none;
 }
.ul-category-list li.li-parent.active  .sub-categories{
    display: block;
}
.ul-category-list li.li-parent:last-child{
   border: none;
  }
.ul-category-list > li.li-parent > a{
  background-image: url(../images/icon-add.png);
  background-position: center right;
  background-repeat: no-repeat;
  position: relative;
}
.ul-category-list > li.li-parent.active > a{
  background-image: url(../images/icon-minus.png);
  padding-left: 12px;
  color: #ed1c24;
}
.ul-category-list > li.li-parent.active > a:after{
  content: "";
  width: 4px;
  height: 12px;
  background: #ed1c24;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
}
.ul-category-list li.li-parent > a{
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   text-transform: uppercase;
   color: #111;
   display: block;
  }
  .ul-category-list li.li-parent .sub-categories li a:hover{
      padding-left: 20px;
      background: url(../images/arrow-back.png)  left no-repeat ;
      margin-left: 20px;
      color:  #111;
  }
  .ul-category-list li.li-parent .sub-categories li.active a{
      padding-left: 20px;
      background: url(../images/arrow-back.png)  left no-repeat ;
      margin-left: 20px;
      color:  #111;
  }
.ul-category-list li.li-parent  span{
  
   display: inline-block;
   float: right;
   color: #959595;
  }
.sub-categories li{
   list-style: none;
  }
.sub-categories li a{
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   text-transform: uppercase;
   color: #898989;
   padding:5px 15px;
   display: inline-block;
  }
.notification-box{
   color: #fff;
   background: #ed1c24;
   padding: 28px 28px 13px;
   margin-top: 40px;
  }
.notification-box ul{
    margin:15px 0px 0px;
    padding:0px;
  }
.notification-box h4{
   font-family: 'Lato', sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding: 0px 0px 10px;
    margin: 0px;
  }

.notification-box li{
   list-style: none;
   font-size: 15px;
    font-weight: bold;
    padding-left: 30px;

   }
.notification-box li a{
  color: #fff !important;
}
 .notification-box li.phone-box{
    background: url('../../assets/images/phone-box.png')  0px 4px  no-repeat;
 }  

 .notification-box li.message-box{
    background: url('../../assets/images/mail-box.png')  0px 7px  no-repeat;
 }  

 .notification-box li.skype-box{
    background: url('../../assets/images/skype-box.png')  0px 7px  no-repeat;
 }  
.title-page{
    margin: 0px 0px 30px;
    padding: 0px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    color: #111;

}

.services_field{
    margin:0px;
    padding: 0px;
   
}
.services_field li{
    list-style: none;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 25px;
    padding-bottom: 25px;
}
.services_field li:first-child{
  padding-top: 0px;
}
.services_field li:last-child{
  border: none;
  padding-bottom: 0px;
}
.services_field li.active .title-faq a{
  color: #ed1c24;
  background: url(../images/icon-minus-big-red.png) center right no-repeat;
}
.title-faq a i{
    float: left;
    display: inline-block;
    margin-right: 20px;
}
.title-faq a{
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #111;
  background: url(../images/icon-add-big-black.png) center right no-repeat;
  padding-right: 30px;
}
.services_field li.active .descriptions-faq{
  display: block;
}
.descriptions-faq{ 
  display: none;
  padding-top: 10px;
}


.wrap-detail-categories{
    background: #f6f6f6;
}
.wrap-detail-categories h2{
   font-size: 18px;
   font-family: 'Lato', sans-serif;
   font-weight: 900;
   color: #111;
   margin: 0px;
   padding: 0px;


}
.wrap-detail-categories{
     padding: 24px 50px 37px;
     position: relative;
}
.btn-detail a{
    color: #ed1c24 ;
    font-size:12px;
    text-transform: uppercase;
    display: block;
    width: 116px;
    text-align: center;
    padding: 8px 0;
    border: 1px solid #ed1c24;
    position: absolute;
    bottom: -15px;
    background: #fff;
    margin-left: -58px;
    left: 50%;
    font-weight: 900;
    letter-spacing: 1px;
}
.btn-detail:hover a  {
    background: #ed1c24;
    color: #fff;
}
/*.btn-detail a:hover {
     color: #fff;
}*/
.wrap-detail-categories h3{
    margin: 0px;
    padding: 0px 0 10px;
    height: 90px;
    overflow: hidden;
    line-height: 100%;
}
.wrap-detail-categories h3 a{
    color: #111;
    font-size: 18px;
   font-family: 'Lato', sans-serif;
   font-weight: 900;
   text-align: center;
}
.project_categories .item-product,.search-content .item-product{
  margin-bottom: 75px;
}

.title-page-only{
    float: left;
    border:none;
    margin: 15px 0px 0px;
    padding:0px 0px 15px 0px;
}
.sort-by{
  float: right;
  position: relative;
  top: 8px;
}
.sort-by select{
    width: 169px;
    border: 1px solid #cccccc;
    padding: 8px 10px;
}
.sort-by select option{
    color: #555;
    font-size: 14px;
}
.sort-by span{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
   font-weight: 900;
   text-transform: uppercase;
   padding-right: 10px;
}
.title-taxonomy{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
    overflow: hidden;
}
.wp-pagenavi .pages{
    display: none;
}
.pagination-product{
    text-align: center;
  
}

.pagination-product a, .pagination-product span{
    border:1px solid #ccc;
    color:#a1a1a1;
    padding: 7px 10px ;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin: 5px;

}
.pagination-product{
    padding: 5px 0px;
}

.pagination-product a:hover, .pagination-product span.current {
    border-color: #ed1c24;
    color: #ed1c24;
}
.pagination-product span.current{
    font-weight: normal;
}
.border-content{
    border-left: 1px solid #e1e1e1;
    padding-left: 30px;
    overflow: hidden;
}
.title-detail {
    font-weight: 900;
}


#slider-detail .flex-direction-nav a{
     margin: 0px !important;
    height: 43px;
    width: 33px;
}

#slider-detail .flex-direction-nav .flex-prev {
    background: url(../../assets/images/left-arrow-detail.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-indent: -9999px;
}
#slider-detail  .flex-direction-nav .flex-next {
    background: url(../../assets/images/right-arrow-detail.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-indent: -9999px;
}
#slider-detail .flex-direction-nav .flex-next {
    right: 0px;
}
#slider-detail .flex-direction-nav .flex-prev {
    left: 0px;
}
#carousel .flex-direction-nav .flex-next , #carousel .flex-direction-nav .flex-prev{
    text-indent: -9999px;
}
#carousel {
    margin-top: 15px;
}
#carousel li{
    margin-right: 13px;
   
}
/*#carousel li img{
     border: 1px solid #e1e1e1;
}*/

#carousel.flexslider ,#slider-detail.flexslider{
    border: none;
    box-shadow:none;
    background: none;
}
#carousel.flexslider li.flex-active-slide{
    border: 1px solid #ed1c24;
}
.sent-email{
    margin-top: 30px;
    background: #ed1c24;
    width: 200px;
}
.sent-email a{
    font-family: 'Lato', sans-serif;
    font-style: 12px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding:15px 10px 15px 25px ;
    display: inline-block;
    margin-left: 30px;
    
    background: url(../../assets/images/arrow-detail.png)  left no-repeat ;

}
.left-detail-in{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #111;
    padding-left: 15px;

}
.share {
  margin-top: 30px;
}
.share span{    
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #898989;
  text-decoration: underline;
  position: relative;
  top: -15px;
  margin-right: 20px;
}
.st-btn{
  background: #c2c2c2 !important;
}
.sharethis-inline-share-buttons{
  display: inline-block;
}


ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: #f2f2f2;
    color: #555555 !important;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
}

ul.tabs li.current{
    background: #ed1c24;
    color: #fff !important;
}

.tab-content{
    display: none;
    border-top: 1px solid #e1e1e1;
    padding: 30px 0px;
}

.tab-content.current{
    display: inherit;
}
.tab-content table td,.tab-content table th{
  border: 1px solid #000;
  padding: 5px;
}
.tab-content table td p,.tab-content table th p{
  margin: 0;
}
.tab-content table.no-border td,.tab-content table.no-border th{
  border: none;
  padding: 0px;
}
.wrap-tab{
    margin-top: 50px;
}
.right-detai-product {
    font-size: 16px;
    font-family: 'Lato', sans-serif;

}
.related-product{  
  padding-top: 40px;
  border-top: 1px solid #e1e1e1;
}
.related-product .item-product{
/*  margin-right: 20px;
  width: 255px;
  float: left;*/
  margin-bottom: 40px;
}
.related-product h4{
    color: #111 ;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0px 0px 25px;
    letter-spacing: 1px;
    
}
.related-product h4 i{
    margin-left: 5px;
}
.intro-brands h2{
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  color: #111;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 30px;
}
.intro-brands{
  font-family: 'Lato', sans-serif;
  color: #111;
  text-align: center; 
  font-weight: bold;
  font-size: 16px;
  position: relative;
}
.intro-brands h2:after{
  border-top:2px solid red;
  display: inline-block;
  width: 15%;
  content: '';
  bottom: 0px;
  left: 42%;
  position: absolute;
}
.ul-brands{
    margin: 40px 0px 80px 0px;
    overflow: hidden;
    padding: 0px;
}
.left-brands ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.left-brands .brands-img{
  margin-bottom: 0px;
  list-style: none;
}

.brands-img{
    margin-bottom: 30px;
}
.brands-img img{
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  width: 100% !important;
  height: auto !important;
}
.brands-img a{
  display: block;
  position: relative;
}
.brands-img .overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: #ed1c24;
  text-align: center;
  display: none;
}
.brands-img a:hover .overlay{
  display: block;
}
.brands-img .overlay:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.brands-img .overlay span{
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  
  text-transform: uppercase;
}
.wrapper-page-brands{
    margin-bottom: 105px;
}
#related-product-brands{
  padding-top: 0px;
  border: 0px;
}
#related-product-brands h4 {
    color: #111;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0px 0px 25px;
    letter-spacing: 1px;
}
#related-product-brands .heading-related{
    padding-top: 0px;
    border-bottom: 1px solid #e1e1e1;
    border-top: none;
    padding-bottom: 8px;
    margin-top: 50px;
    margin-bottom: 30px;
}
#related-product-brands h4{
    margin: 0px 0px 0px ;
    float: left;
}
#wrap-brand-left{
  height: 560px;
  overflow: hidden;
}
#related-product-brands .item-product{
/*  float: left;
  width: 266px;
  margin-right: 20px;*/
  margin-bottom: 30px;
}
.ul-footer-product {
    text-align: right;
}
.ul-footer-product a{
    font-size: 14px;
    font-weight: normal;
    color: #959595;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
    display: inline-block;

}
.content-detail-brans{
    font-size: 16px;
    font-weight: bold;
    color: #111;
}
.text-intro-brands{
    margin-bottom: 10px;
}
#related-product-brands span{
    display: inline-block;
    float: right;
    color: #898989;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#lang_sel_list li.icl-en a{
    background: url(../../assets/images/disc.jpg)  right no-repeat !important;
    padding-right: 20px;
    
}


.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}

.caroufredsel_wrapper {
    position: relative;
}
.list_carousel ul li{
    list-style: none;
}
.list_carousel ul{
    margin: 0px;
    padding: 0px;
}
.owl-dots{   
  margin-top: 40px;
  text-align: center;
}
.wrap-other-products .owl-dots{
  margin-top: 0px;
}
/*#pager-carousel-other.pager{
  margin-top: 0px;
}*/
.owl-dot{
  display: inline-block;
}
.owl-dot span {
    
    display: block;
    overflow: hidden;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    display: inline-block;
    text-indent: -999px;
    border: 3px solid #c2c2c2;
    background: #fff;
    width: 11px ;
    height: 11px ;
    margin:0 2px;
    text-indent: -99999px;
}

.owl-dot.active span{
    background: #fff;
    border: 3px solid #6b6b6b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 15px;
    width: 15px ;
    height: 15px ;
    line-height: 21px;

}

.left-brands h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900px;
    font-family: 'Lato', sans-serif;
    border-bottom: 2px solid #111;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.left-brands a{
    margin-bottom: 20px;
    display: block;
}
.link-see{
    color:#555555;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    background: url(../../assets/images/arrow.png)  left no-repeat !important;
    padding-left: 20px;
    padding-top: 10px;
}
.link-see:hover{
  color: #ed1c24;
}
.h3-search {
    color:#111;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    border-bottom: 1px solid #e1e1e1;
    font-family: 'Lato', sans-serif;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.wrap-product-home{
    margin-top: 30px;
}
#menu-main li .sub-menu{
   display: none;
}
#menu-main li {
    position: relative;
}
#menu-main li .sub-menu{
    margin: 0px;
    padding: 0px;
}
#menu-main li .sub-menu{
    position: absolute;
    top: 100%;
    left: 15px;
    width: 240px;
    background: #fff;   
    z-index:999;
}
#menu-main li:hover .sub-menu{
    display: block;

}

#menu-main li .sub-menu li {
  border-right: none;

}
#menu-main li .sub-menu li a{    
  font-size: 14px;
  font-family: 'Lato', sans-serif;  
  text-transform: uppercase;
  color: #111;
  padding: 15px 30px;
  display: block;    
  float: none !important;
  margin-top: 0px !important;
  z-index: 9999;
  border-right: none !important;
  margin: 0px !important;
  position: relative;
}
#menu-main > li > .sub-menu > li:hover > a{
  background: #ed1c24;
  color: #fff;
}
#menu-main > li > .sub-menu > li > a > span:after{
  width: 4px;
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -11px;
  background: #fff;
  height: 22px;
}
#menu-main li .sub-menu li:hover{
/*
   background: url(../../assets/images/bg-li.jpg)  left no-repeat ;
    width: 240px;*/
    z-index: 9999;
    color: #fff;
  /*  height: 52px;*/
 
}


#menu-main li .sub-menu li .sub-menu{
    display: none;
}
#menu-main li .sub-menu li:hover .sub-menu{
    display: block;
}


#menu-main  li .sub-menu li a::after {
   display: none !important;
   
}
#menu-main li .sub-menu li {
   position: relative;
   }
#menu-main li .sub-menu li{
    background:none;

}
#menu-main li .sub-menu li .sub-menu{
   position: absolute;
   left: 241px !important;
   top: -2px;
   z-index: 9999999999;
}
#menu-main li .sub-menu li .sub-menu li a{
   
    padding: 15px 0px;
   
}
#menu-main li .sub-menu li .sub-menu li:last-child a{
    border-bottom: none !important;
}
#menu-main li .sub-menu li .sub-menu li{
    margin: 0px 30px;
    width: 180px;
    border-bottom: 1px solid #e1e1e1;
    
}
#menu-main li .sub-menu li .sub-menu li:hover{
    background: #fff;
    
}
#menu-main li .sub-menu li .sub-menu li a:hover{
   
    color: #ed1c24;
    z-index: 9999999999;
   
}
#menu-main-footer  li .sub-menu{
    display: none;
}
#map-contact{
    height: 450px;
}
.wrap-menu-mobile{
    display: none;
}
.search_form_mobile{
    display: none;
}
.ul-footer-product .active a{
    color: #ed1c24;
}
.body-vi #menu-main > li > a > span {
    
    padding: 6px 8px;
}
/*.the_champ_sharing_ul li i {
    background: #c2c2c2;
}
.the_champ_sharing_ul li:hover i{
    background: #3C589A;
}*/
.content-contact a{
  color: #292b2c;
}
.block-3 img{
  width: 100%;
  height: auto;
}
.wpml-ls-legacy-list-horizontal>ul{
  margin: 8px 0 0 !important
}